html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#optionsDiv {
  background-color: dimgray;
  color: white;
  padding: 0px 10px 10px 10px;
  border-bottom-left-radius: 5px;
  max-width: 350px;
}

#doBtn {
  margin-top: 10px;
}